{% extends "layout.html" %}
{% set title = _('Welcome') %}
{% set css_files = css_files + ['_static/cnt-home.css'] %}
{% block body %}
  <h1>{{ _('NVIDIA Cloud Native Documentation') }}</h1>

  <p>This documentation repository contains the product documentation for
  the NVIDIA Container Toolkit (<code>nvidia-docker2</code>), the NVIDIA GPU Operator and
  using NVIDIA GPUs with Kubernetes for orchestration.
  </p>
  <p>
  New sections include Kubernetes with NVIDIA GPUs.
  </p>

  <!--
  <img class="biglogo" src="{{ pathto('_static/images/logo.jpg', 1) }}">
  -->

  <h2 style="margin-bottom: 10 px">{%trans%}Start Here{%endtrans%}</h2>

  <!--
  <p>See the <a href="{{ pathto("contents") }}">{%trans%}table of contents{%endtrans%}</a>.</p>
  -->
  <div id="content" class="row">
    <div class="column">
      <div class="bx--tile">
          <h4>NVIDIA Container Toolkit</h4>
          <p><a href="{{ pathto('container-toolkit/overview.html', 1) }}">
          Overview and Installation</a>
          </p>
      </div>
    </div>
    <div class="column">
      <div class="bx--tile">
          <h4>GPU Operator</h4>
          <p><a href="{{ pathto('gpu-operator/overview.html', 1) }}">
          Get Started</a>
          </p>
      </div>
    </div>
    <div class="column">
      <div class="bx--tile">
          <h4>Kubernetes with NVIDIA GPUs</h4>
          <p><a href="{{ pathto('kubernetes-gpus/introduction.html', 1) }}">
          Introduction</a>
          </p>
      </div>
    </div>
</div>
<div id="content" class="row">
  <div class="column">
   <div class="bx--tile">
        <h4>Kubernetes with GPUs</h4>
        <p><a href="{{ pathto('kubernetes/install-k8s.html', 1) }}">
        Concepts and Installation</a>
        </p>
    </div>
  </div>
  <div class="column">
   <div class="bx--tile">
        <h4>GPU Telemetry</h4>
        <p><a href="{{ pathto('gpu-telemetry/dcgm-exporter.html', 1) }}">
        GPU Health and Telemetry</a>
        </p>
    </div>
  </div>
</div>
{% endblock %}
